@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  line-height:1;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --c-accent:24, 77, 196;
  --c-text:24, 77, 196;
  --c-filter:133, 166, 234;
  --c-bg:242, 241, 228;
  --swiper-theme-color:0, 122, 255;
  --text-w:242, 241, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.logo{
  width:94vw;
  margin: 0 auto;
}

.cursor{
  position: fixed;
  top: 400px;
  left: 400px;
  width: 10px;
  height: 10px;
  background: #184dc4;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 999;
}
