@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
  cursor: none ;
}

html{
  line-height:1;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --c-accent:24, 77, 196;
  --c-text:24, 77, 196;
  --c-filter:133, 166, 234;
  --c-bg:242, 241, 228;
  --swiper-theme-color:0, 122, 255;
  --text-w:242, 241, 228;
  --col-10:calc( calc(( 94vw - ( 12 - 1)* 40px )/ 12 ) *10 + 40px *9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.logo, .p_container{
  width:94vw;
  margin: 0 auto;
}


.asidemenu{
  background: #fff;
}


.mycursor.link .arrowright{
  width: 24px;
  display: block;
  height: 24px;
}

.section, .collab{
  display: none;
}

.mycursor .section,
.mycursor .collab{
  display: block;
}

.mycursor .arrowright{
  display: none;
}

.hero__video {
  width: calc( calc(( 94vw - ( 12 - 1)* 40px )/ 12 ) *8 + 40px *7) ;
  margin-top: -8%;
  margin-right: auto;
  margin-left: auto;
}

.mgbtm{
  margin-bottom: calc(4.16667vw + 60px)
}

.fntsize{
  font-size: clamp(60px,14vw,280px)
}

.list{
  width: var(--col-10);
}




